<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <button onclick="firebase.auth().signInWithRedirect(provider)">Mon bouton de connexion</button>

    <script src="https://www.gstatic.com/firebasejs/4.5.1/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAz5jZx2jDFxdlnK7hTqI7wHsH5rQ3JmCw",
            authDomain: "kingdom-50680.firebaseapp.com",
            databaseURL: "https://kingdom-50680.firebaseio.com",
            projectId: "kingdom-50680"
        };
        firebase.initializeApp(config);

        let provider = new firebase.auth.GoogleAuthProvider();
    </script>
</body>

</html>